<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://176.122.147.174:3306/School?serverTimezone=UTC</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->
    <mapping resource="com/db/School/CEntity.hbm.xml"/>
    <mapping class="com.db.School.CEntity"/>
    <mapping resource="com/db/School/DEntity.hbm.xml"/>
    <mapping class="com.db.School.DEntity"/>
    <mapping resource="com/db/School/EEntity.hbm.xml"/>
    <mapping class="com.db.School.EEntity"/>
    <mapping resource="com/db/School/OEntity.hbm.xml"/>
    <mapping class="com.db.School.OEntity"/>
    <mapping resource="com/db/School/SEntity.hbm.xml"/>
    <mapping class="com.db.School.SEntity"/>
    <mapping resource="com/db/School/TEntity.hbm.xml"/>
    <mapping class="com.db.School.TEntity"/>

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>