.TitleStyle {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
}
.TableFoot {
    font: 12px "??";
    color: #001F30;
    border: outset 1px;
    background-color: #799ae1;
}
.Border {
     font: 12px "??";
     text-decoration: none;
     border: 1px solid #7B9EBE;
 }
.ForumRow {
    background: #F1F3F5;
    padding: 3px;
}
.ForumRowHighlight {
    background: #E4EDF9;
    padding: 3px;
}